version: "3"
networks:
  chat:

services:
  # Launch the Redis used for syncing messages between copies of the client app
  redis:
    image: redis
    networks:
      - chat
    ports:
      - 6379

  # Launch localstack (https://github.com/localstack/localstack)
  # This container mimics AWS services locally for offline testing
  # and development purposes.
  local-stack:
    image: localstack/localstack
    networks:
      - chat
    ports:
      # DyanmoDB Local
      - 4569
      # SNS local
      - 4575
      # SQS local
      - 4576

  # Ephemeral container used for creating the tables in
  # the local DynamoDB tables, SNS topics, and SQS queues
  bootstrap-resources:
    depends_on:
      - local-stack
    networks:
      - chat
    build: ./deps/bootstrap-resources
    environment:
      DYNAMODB_ENDPOINT: http://local-stack:4569
      SQS_ENDPOINT: http://local-stack:4576
      SNS_ENDPOINT: http://local-stack:4575
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test

  # The actual client application
  client:
    depends_on:
      - redis
      - bootstrap-resources
    networks:
      - chat
    build: ./services/client
    environment:
      LOCAL: "true"
      ENV_NAME: test
      REDIS_ENDPOINT: redis
      DYNAMODB_ENDPOINT: http://local-stack:4569
      SQS_ENDPOINT: http://local-stack:4576
      SNS_ENDPOINT: http://local-stack:4575
      MESSAGE_SENT_SNS_ARN: arn:aws:sns:us-east-1:123456789012:test_MessageSent
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
    ports:
      - 3000:3000

  # Background worker that cardifies messages
  message-cards:
    depends_on:
      - redis
      - bootstrap-resources
    networks:
      - chat
    build: ./services/message-cards
    environment:
      LOCAL: "true"
      ENV_NAME: test
      REDIS_ENDPOINT: redis
      QUEUE_URL: http://local-stack:4576/queue/test_MessagesToCardify
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test

  # The test suite
  test:
    depends_on:
      - client
      - message-cards
    networks:
      - chat
    build: ./services/test-suite
    environment:
      SELF_URL: http://client:3000
